.item {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
  border: 2px solid #000;
  width: 420px;
  background-color: #5a4bce;
  box-shadow: 5px 5px 15px 5px #0c0fda;
  border-radius: 30px;
  padding: 15px;
  transition: scale 300ms, transform 300ms;
}

.statusOnline {
  width: 25px;
  height: 25px;
  background-color: rgb(2, 250, 2);
  border-radius: 50%;
}

.statusOffline {
  composes: statusOnline;
  background-color: red;
}

.name {
  font-weight: 400;
}
